$yellow: #ff9f00;
$light-blue: #1d3856;
$dark-blue: #102037;
$chrome-yellow: #a87119;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $light-blue;
  color: white;
}
.cc2{
    position: relative;
    left:345px;
    width: 553px;
    height: 125px;
    top:100px;
    background: #212429;
    border-radius: 20px;
    margin:40px;
    


}
.buttons{
    width:200px;
    left:170px;
    top:30px;
    background: #1B2E47;
border-radius: 10px;
font-family: Proxima Nova;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
border-color: #1B2E47;
color: #C69000;
}
.inputs{
    position: relative;
    top:30px;
    left:130px;
    width:300px;
    background: #FFFFFF;
border-radius: 10px;
}
.main{
    position: relative;
    background-color: #1D3755;
    height:1800px;
    
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    flex-wrap: wrap;
    position:relative;
    bottom: 170px;
    border-collapse: separate;
    border-spacing: 15px;
    .box1 {
      background-color: $dark-blue;
      width: 450px;
      padding: 1rem;
      border-radius: 13px 13px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .inputBox {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: black;
        border-radius: 7px;
        padding: 0.5rem;
        margin: 0.5rem;
      }
      .dropdown {
        background-color: $yellow;
        padding: 0.5rem;
        color: white;
        border-radius: 7px;
        width: 100%;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }